<article *ngIf="product" class="product-detail">
  <div class="product-image">
    <img
      *ngIf="product.imagen; else noImage"
      [src]="product.imagen"
      [alt]="product.nombre"
    />

    <ng-template #noImage>
      <mat-icon>inventory_2</mat-icon>
    </ng-template>
  </div>

  <div class="product-heading">
    <div>
      <h2>{{ product.nombre }}</h2>

      <p *ngIf="product.marca">
        {{ product.marca }}
      </p>
    </div>

    <mat-chip>
      {{ product.categoria }}
    </mat-chip>
  </div>

  <mat-divider></mat-divider>

  <dl class="product-data">
    <div>
      <dt>Unidad de medida</dt>
      <dd>{{ product.unidadMedida }}</dd>
    </div>

    <div>
      <dt>Lugar por defecto</dt>
      <dd>{{ product.lugarPorDefecto | titlecase }}</dd>
    </div>

    <div>
      <dt>En la despensa</dt>
      <dd>
        {{ product.enDespensa ? 'Sí' : 'No' }}
      </dd>
    </div>
  </dl>

  <section>
    <h3>Lugares de almacenamiento</h3>

    <div
      class="storage-card"
      *ngFor="let location of product.lugaresAlmacenamiento"
    >
      <mat-icon>kitchen</mat-icon>

      <div>
        <strong>
          {{ location.lugar | titlecase }}
        </strong>

        <span>
          {{ location.diasCaducidadEstimados }}
          días estimados
        </span>
      </div>
    </div>
  </section>

  <div class="detail-actions">
    <button
      mat-stroked-button
      type="button"
      (click)="editRequested.emit()"
    >
      <mat-icon>edit</mat-icon>
      Editar
    </button>

    <button
      mat-stroked-button
      type="button"
      [disabled]="deleting"
      (click)="deleteRequested.emit()"
    >
      <mat-icon>delete</mat-icon>
      Eliminar
    </button>
  </div>
</article>