<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      placeholder="Introduce tu correo electrónico"
      formControlName="email"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      placeholder="Introduce tu contraseña"
      formControlName="password"
      class="form-control"
    />
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Iniciar Sesión</button>